.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.gap-20 {
  gap: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-6 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.flex-1 {
  flex: 1;
}

/* Text */

.text-menu {
  font-size: 1.25rem;
  font-weight: 600;
}

.header-h1 {
  font-size: 4rem;
  line-height: 3rem;
  color: var(--dark-green-color);
  font-weight: 800;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.btn-1 {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 800;
  border: 3px var(--primary-color) solid;
  padding: 5px 4px;
}

/* Image styling */

/* Shelf */

.left-wall, .bottom, .right-wall {
  position: absolute;
  box-shadow: 0px 20px 30px 40px rgba(0, 0, 0, 0.5); /* Shadow on the bottom */
}

.wall {
  position: absolute;
  bottom: var(--wall-offset);
  width: 40px; /* Fixed width */
  height: 110%; /* Height as percentage */
  background-color: var(--shelf-wall-color); /* Shared color */
  z-index: 20;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1) Subtle normal shadow
}

.left-wall {
  left: -50px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.right-wall {
  right: -50px;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.bottom {
  position: absolute;
  bottom: var(--wall-offset);
  left: -20px;
  right: -20px;
  height: 30px;
  background-color: var(--shelf-floor-color);
  z-index: 0;
}

.card {
  background-color: var(--card-color);
  width: 550px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  border: solid #fff 1rem;       
}

.card2 {
  background-color: var(--card-color);
  border: 10px double var(--dark-green-color);
  width: 300px;     
}

.card3 {
  background-color: var(--card-color);
  border: 10px double var(--dark-green-color);
  max-width: 50%;     
  margin: 0 auto;
}

.card2 h3{
  font-size: 1.5rem;
  font-weight: 800;
  color: #000;  
}

.card2 a{
  color: #000;  
}

.card2 p{
  font-size: 1rem;     
}




